//header

.home_header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .search {
    padding: 0.4rem;
    border-radius: 10px;
    border: none;
    width: 17rem;
    background-color: rgba(242, 242, 242, 0.46);
    margin: 1rem;
    font-weight: 540;

    input {
      padding: 0.4rem;
      width: 100%;
      border: none;
      background-color: inherit;
      color: black;
      opacity: 50%;
    }
  }
}

.iconbox_container {
  display: flex;
  gap: 1rem;
}
